@model IEnumerable<Carwash.Models.ViewModel.AppointmentUserViewModel>

<style>
    table {
        margin-top: 15px;
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    .btn-actualiza {
        background-color: rgb(32, 44, 69);
        color: white !important;
        border-radius: 100px;
        margin-right: 5px !important;
    }

    .btn-elimina {
        background-color: #E81C2E;
        color: white !important;
        border-radius: 100px;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
    }
</style>

<br />
<div class="container">
    <table id="requestsTable" class="display">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Telefono</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.date)</td>
                    <td>@Html.DisplayFor(modelItem => item.time)</td>
                    <td>@Html.DisplayFor(modelItem => item.name)</td>
                    <td>@Html.DisplayFor(modelItem => item.email)</td>
                    <td>@Html.DisplayFor(modelItem => item.phone)</td>
                    <td>
                        <div class="button-container">
                            <form action="@Url.Action("Delete", "Appointment", new { id = item.appointment_id })" id="formularioMio-@item.appointment_id" method="post" enctype="multipart/form-data">
                                <form action="@Url.Action("Delete", "Appointment", new { id = item.appointment_id })" id="formularioMio-@item.appointment_id" method="post" enctype="multipart/form-data">

                                    <script>
                                    var formularioMio = document.getElementById('formularioMio-@item.appointment_id');
                                    formularioMio.addEventListener('submit', function (event) {
                                        event.preventDefault();
                                        mostrarMensaje();
                                    });
                                    function mostrarMensaje(MaterialId) {
                                        Swal.fire({
                                            title: '¿Está seguro?',
                                            text: "Se eliminara la cita del cliente",
                                            icon: 'warning',
                                            showCancelButton: true,
                                            confirmButtonColor: '#d33',
                                            cancelButtonColor: '#3085d6',
                                            confirmButtonText: 'Eliminar',
                                            cancelButtonText: 'Cancelar'
                                        }).then((result) => {
                                            if (result.isConfirmed) {
                                                Swal.fire(
                                                    'Eliminada!',
                                                    'La cita se ha eliminado con exito',
                                                    'success'
                                                ).then(function () {
                                                     //document.forms[7].submit();
                                                    var formularioMio = document.getElementById('formularioMio-' + MaterialId);
                                                    formularioMio.submit();
                                                });

                                            }
                                        })
                                    }
                                    </script>
                                    <input value="@item.appointment_id" name="id" hidden />
                                    <a href="@Url.Action("Edit", "Appointment", new { id = item.appointment_id })" class="btn btn-actualiza">Actualizar</a>
                                    <input onclick="mostrarMensaje(@item.appointment_id)" type="button" value="Eliminar" class="btn btn-elimina" />
                                </form>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
</div>

@section Scripts {
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <!-- DataTables language -->
    <script src="https://cdn.datatables.net/plug-ins/1.13.5/i18n/es-ES.json"></script>
    <style>
        .paginate_button {
            border-radius: 100px !important;
        }

            .paginate_button:hover {
                color: white !important;
                border-radius: 100px !important;
            }
    </style>

    <script>
        $(document).ready(function () {
            $('#requestsTable').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/1.13.5/i18n/es-ES.json"
                },
                "paging": true // Habilita la paginación
            });
        });
    </script>
}









