
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>AutoWash - Car Wash Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link href="~/UserTemp/lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="~/UserTemp/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/UserTemp/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/UserTemp/css/style.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <style>
    
        .icon{cursor: pointer;margin-right: 50px;line-height: 60px}
        .icon span{background: #f00;padding: 7px;border-radius: 50%;color: #fff;vertical-align: top;margin-left: -25px}
        .icon img{display: inline-block;width: 26px;margin-top: 4px}
        .icon:hover{opacity: .7}
        .logo{flex: 1;margin-left: 50px;color: #eee;font-size: 20px;font-family: monospace}
        .notifications{z-index: 2;width: 300px;height: 0px;opacity: 0;position: absolute;top: 70px;right: 62px;border-radius: 5px 0px 5px 5px;background-color: #fff;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)}
        .notifications h2{font-size: 14px;padding: 10px;border-bottom: 1px solid #eee;color: #999}
        .notifications h2 span{color: #f00}
        .notifications-item{display: flex;border-bottom: 1px solid #eee;padding: 6px 9px;margin-bottom: 0px;cursor: pointer}
        .notifications-item:hover{background-color: #eee}
        .notifications-item img{display: block;width: 50px;height: 50px;margin-right: 9px;border-radius: 50%;margin-top: 2px}
        .notifications-item .text h4{color: #777;font-size: 16px;margin-top: 3px}
        .notifications-item .text p{color: #aaa;font-size: 12px}
    </style>
</head>

<body>
    <!-- Nav Bar Start -->
    <div class="nav-bar">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                <a href="#" class="navbar-brand">MENU</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto">
                        <a href="https://localhost:44325/User/Index" class="nav-item nav-link active">Home</a>
                        <a href="" class="nav-item nav-link">About</a>
                        <a href="" class="nav-item nav-link">Service</a>
                        <a href="" class="nav-item nav-link">Price</a>
                        <a href="" class="nav-item nav-link">Washing Points</a>
                        <a href="@Url.Action("Contact_Form", "Contact")" class="nav-item nav-link">Contáctenos</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu">
                                <a href="" class="dropdown-item">Blog Grid</a>
                                <a href="" class="dropdown-item">Detail Page</a>
                                <a href="" class="dropdown-item">Team Member</a>
                                <a href="" class="dropdown-item">Schedule Booking</a>
                            </div>
                        </div>
                        @Html.ActionLink("Producto", "Index", "Product", null, new { @class = "nav-item nav-link" })

                        @if (Session["Rol"] != null)
                        {
                            <a href="https://localhost:44325/Appointment/Index" class="nav-item nav-link">Citas</a>
                            if (Session["Rol"].Equals("Administrador"))
                            {
                                <a href="https://localhost:44325/User/UsersList" class="nav-item nav-link">Lista usuarios</a>
                                <a href="https://localhost:44325/Vendor/Index" class="nav-item nav-link">Lista proveedores</a>

                                <nav>
                                    <div class="icon" id="bell"> <img src="https://i.imgur.com/AC7dgLA.png" alt=""> </div>
                                    <div class="notifications" id="box">

                                    </div>
                                </nav>


                            }


                            <a href="https://localhost:44325/User/Logout" class="nav-item nav-link">Cerrar Sesión</a>

                        }
                        else
                        {
                            <a href="https://localhost:44325/User/Login" class="nav-item nav-link">Iniciar sesión</a>
                        }
                    </div>
                    <div class="ml-auto">
                        <a class="btn btn-custom" href="#">Get Appointment</a>

                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class=" body-content">
        @RenderBody()
        <br />
    </div>
    <!-- Nav Bar End -->
    <!-- Footer Start -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-contact">
                        <h2>Get In Touch</h2>
                        <p><i class="fa fa-map-marker-alt"></i>123 Street, New York, USA</p>
                        <p><i class="fa fa-phone-alt"></i>+012 345 67890</p>
                        <p><i class="fa fa-envelope"></i>info@example.com</p>
                        <div class="footer-social">
                            <a class="btn" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn" href=""><i class="fab fa-linkedin-in"></i></a>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-link">
                        <h2>Popular Links</h2>
                        <a href="">About Us</a>
                        <a href="">Contact Us</a>
                        <a href="">Our Service</a>
                        <a href="">Service Points</a>
                        <a href="">Pricing Plan</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-link">
                        <h2>Useful Links</h2>
                        <a href="">Terms of use</a>
                        <a href="">Privacy policy</a>
                        <a href="">Cookies</a>
                        <a href="">Help</a>
                        <a href="">FQAs</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-newsletter">
                        <h2>Newsletter</h2>
                        <form>
                            <input class="form-control" placeholder="Full Name">
                            <input class="form-control" placeholder="Email">
                            <button class="btn btn-custom">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container copyright">
            <p>&copy; <a href="#">Your Site Name</a>, All Right Reserved. Designed By <a href="https://htmlcodex.com">HTML Codex</a></p>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to top button -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- Pre Loader -->
    <div id="loader" class="show">
        <div class="loader"></div>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.13/jquery.validate.unobtrusive.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="~/UserTemp/lib/easing/easing.min.js"></script>
    <script src="~/UserTemp/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/UserTemp/lib/waypoints/waypoints.min.js"></script>
    <script src="~/UserTemp/lib/counterup/counterup.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/UserTemp/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/UserTemp/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/UserTemp/js/main.js"></script>
    <script>
        $(document).ready(function () {

            function showNotifications() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("NotificationsList", "User")',
                success: function (data) {
                    var notificationsBox = $('#box');
                    notificationsBox.empty();

                    if (data && data.length > 0) {
                        $('#bell span').text(data.length);
                        $.each(data, function (index, notification) {
                            notificationsBox.append('<div class="notifications-item">' +
                                '<i class="fa-sharp fa-light fa-circle-exclamation"></i>' +
                                '<div class="text">' +
                                '<h4>' + notification.description + '</h4>' +
                                '</div>' +
                                '</div>');
                        });
                    } else {
                        $('#bell span').text('0');
                        notificationsBox.append('<h2>No hay notificaciones</h2>');
                    }
                },
                error: function () {
                }
            });
        }
        showNotifications();

        $('#bell').click(function (e) {
            var notificationsBox = $('#box');
            var isOpen = notificationsBox.css('opacity') === '1';

            if (isOpen) {
                notificationsBox.css('height', '0px');
                notificationsBox.css('opacity', '0');
            } else {
                showNotifications();

                notificationsBox.css('height', 'auto');
                notificationsBox.css('opacity', '1');
            }
        });


        });


    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
