@model Carwash.Models.users

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Lavacar - Registrarse </title>
    <link rel="stylesheet" href="~/UserTemp/css/registration.css">
</head>
<body>
    @using (Html.BeginForm())
    {
        <div class="wrapper">
            <h2>Registrarse</h2>
            @Html.ValidationSummary()

            <!-- Display validation error for a specific property -->
            @Html.ValidationMessageFor(model => model.role_id) @Html.ValidationMessageFor(model => model.name) @Html.ValidationMessageFor(model => model.phone)
        <div class="form">
            <div class="input-box">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @type = "text", @placeholder = "Ingresa tu nombre", @required = "" } })
            </div>
            <div class="input-box">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @type = "text", @placeholder = "Ingresa tu nombre", @required = "" } })
            </div>
            <div class="input-box">
                @Html.EditorFor(model => model.first_surname, new { htmlAttributes = new { @type = "text", @placeholder = "Ingresa tu primer apellido", @required = "" } })
            </div>
            <div class="input-box">
                @Html.EditorFor(model => model.second_surname, new { htmlAttributes = new { @type = "text", @placeholder = "Ingresa tu segundo apellido", @required = "" } })
            </div>
            <div class="input-box">
                @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @type = "number", @placeholder = "Ingresa tu telefono", @required = "" } })
            </div>
            <div class="input-box">
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @type = "password", @placeholder = "Crea una contraseña", @required = "" } })
            </div>
            <div class="input-box">
                @Html.Editor("confirmPassword", new { htmlAttributes = new { @type = "password", @placeholder = "Crea una contraseña", @required = "" } })
            </div>
            <div class="input-box button">
                <input type="Submit" value="Registrarse">
            </div>
            <div class="text">
                <h3>Ya tienes una cuenta?<a href="@Url.Action("Login","User")"> Iniciar sesión</a></h3>
            </div>
        </div>
        </div>
    }

</body>
</html>
